# per ogni input controllare che l'ufficio sia presente nella lista dei codici uffici

#### Inseriamo ufficio ( tramite id )
#### Inseriamo ente ( tramite id ) numero, anno , ricerca_iqera 
#### per ora entriamo solo nella pagina non facciamo lo scraper dei risultati

In [2]:
import requests
from bs4 import BeautifulSoup

In [3]:
def scraper(ufficio,ente,anno,numero,natura):
    """
    ufficio è l'id che si trova nel file uffici_finanziari (in code)
    ente è l'id da ricavare da enti.json   (esempio 001 )
    numero da file input (rg / decreto / etc )
    anno anno con 4 cifre da file input
    natura  DI  AV  /  EM  OR
    """


    session = requests.Session()
    initial_url = 'https://www1.agenziaentrate.gov.it/servizi/tassazioneattigiudiziari/registrazione.htm'
    session.get(initial_url) 

    url1 = 'https://www1.agenziaentrate.gov.it/servizi/tassazioneattigiudiziari/registrazione.htm'
    params1 = {
        'action': 'scegliufficio',
        'ufficio': ufficio,
    }
    headers = {
        'Connection': 'keep-alive',
        'Accept-Encoding': 'gzip, deflate, br',
        'Accept': '*/*',
        'Content-Type': 'application/x-www-form-urlencoded',
    }
    body1 = {
        'ufficio': ufficio,
    }
    response1 = session.post(url1, headers=headers, params=params1, data=body1)
    
    if response1:
        url2 = 'https://www1.agenziaentrate.gov.it/servizi/tassazioneattigiudiziari/registrazione.htm'
        params2 = {
            'action': 'scegliente',
        }
        body2 = {
            'ente': ente,
            'anno': anno,
            'numero': numero,
            'natura' : natura,
            'snumero' : ""
        }
        response2 = session.post(url2, headers=headers, params=params2, data=body2)
        if response2 :
            soup2 = BeautifulSoup(response2.text, 'html.parser')
            if 'non trovato' in response2.text:
                rep = str(numero) + ' - ' + str(anno)
                return [ufficio, natura, ente, rep, '-', '-', '-','no']
            else :
                compila = 'no'
                tabella = soup2.find('div', class_='panel-body')

                if  tabella.find('span', string="Atto tassato dall'ufficio di: "): 
                    office = tabella.find('span', string="Atto tassato dall'ufficio di: ").find_next_sibling('span').get_text(strip=True)
                else :
                    office = '-'   

                if tabella.find('span', string="Tipologia atto: "):
                    atto = tabella.find('span', string="Tipologia atto: ").find_next_sibling('span').get_text(strip=True)
                else :
                    atto = '-'  

                if tabella.find('span', string="Emesso da: "):
                    emesso_da = tabella.find('span', string="Emesso da: ").find_next_sibling('span').get_text(strip=True)
                else :
                    emesso_da = '-'   

                if tabella.find('span', string="n. Repertorio - anno: "):
                    repertorio = tabella.find('span', string="n. Repertorio - anno: ").find_next_sibling('span').get_text(strip=True)
                else :
                    repertorio = '-'  

                if tabella.find('span', string="Attore: "):
                    attore = tabella.find('span', string="Attore: ").find_next_sibling('span').get_text(strip=True)
                else:
                    attore='-'

                if tabella.find('span', string="Convenuto: "):
                    convenuto = tabella.find('span', string="Convenuto: ").find_next_sibling('span').get_text(strip=True)
                else:
                    convenuto ='-'

                if tabella.find('span', string="Stato dell'atto: "):
                    stato = tabella.find('span', string="Stato dell'atto: ").find_next_sibling('span').get_text(strip=True)
                else:
                    stato= '-'

                if 'compilaf24.php' in response2.text:  # Check if the link is present in the whole body
                    compila = 'si'



                return [office,atto,emesso_da,repertorio,attore,convenuto,stato,compila]
        else :
            rep = str(numero) + ' - ' + str(anno)
            return [ufficio, natura, ente, rep, '-', '-', '-','no']

    else:
       return 'ufficio non trovato'

#### cambia la natura dell'ente in base al tipo diu ricerca ( se monitoria o ppt)

In [4]:
list_natura_monitoria = ['DI','AV']
list_natura_ppt = ['EM','OR']

def tipo_scraper(contratto,debitore, tipo, ufficio, lista_enti, anno, numero,row_number):
    results = []
    try:
        if tipo == 'monitoria':
            natura_list = list_natura_monitoria
        elif tipo == 'ppt':
            natura_list = list_natura_ppt
        else:
            raise ValueError("Invalid tipo value")

        for natura in natura_list:
            for ente in lista_enti:
                result=''
                result = scraper(ufficio, ente, anno, numero, natura)
                if isinstance(result, list):
                    if len(result) == 8:
                        results.append({
                            "contratto":contratto,
                            "debitore":debitore,
                            'ufficio': result[0],
                            'atto': result[1],
                            'emesso da': result[2],
                            'repertorio': result[3],
                            'attore': result[4],
                            'convenuto': result[5],
                            'stato': result[6],
                            "compila":result[7]
                        })
                    else:
                        rep = str(numero) + ' - ' + str(anno)
                        results.append({
                            "contratto":contratto,
                            "debitore":debitore,
                            'ufficio': ufficio,
                            'natura': natura,
                            'ente': ente,
                            'repertorio': rep,
                            'attore': '-',
                            'convenuto': '-',
                            'stato': '-',
                            "compila":'no'
                        })
                else:
                    print(result)
    except Exception as e:
        print(f'Riga con errore: {row_number}')
        print(f"Error occurred: {e}")
    return results

#### sistemiamo l'input prima di mandare lo scaper

In [5]:
from Pulizia import clean , split_and_expand
import pandas as pd
import json
from datetime import date
import numpy as np
today = date.today()

In [6]:
uffici = pd.read_excel('Resources/uffici_finanziari.xlsx')
uffici = uffici.iloc[1:]
uffici['office'] = uffici['office'].str.lower()
uffici_ut = uffici[uffici['office'].str.contains('ut')]

In [7]:
input = pd.read_excel('Input/Raw/perimetro_03_06.xlsx')

In [8]:
n_columns = input.filter(regex='^N')
contains_dash = n_columns.applymap(lambda x: '-' in str(x) and '/' not in str(x))
n_columns = n_columns.applymap(lambda x: x.replace('-', '/') if '-' in str(x) else x)
input[n_columns.columns] = n_columns

In [9]:
input = input[input['N. RG'].str.contains('/', na=True) | input['N. RG'].isna()]
input = input[input['N. Decreto'].str.contains('/', na=True) | input['N. Decreto'].isna()]
input = input[input['N.R.G.E PPT'].str.contains('/', na=True) | input['N.R.G.E PPT'].isna()]
input = input[input['N° Repertorio'].str.contains('/', na=True) | input['N° Repertorio'].isna()]
input = input[input['N° Rep PPT'].str.contains('/', na=True) | input['N° Rep PPT'].isna()]
input = input[input['N. Cronologico'].str.contains('/', na=True) | input['N. Cronologico'].isna()]

In [10]:
input = input.drop_duplicates()

In [11]:


input = clean(input)
#input['tipo_ricerca'] = input['RICERCA IQERA'].str.lower()
#input = input.drop(columns=['RICERCA IQERA'])

In [12]:


mapping = {'albenga':'savona',
    'chiavenna':'sondrio',
    'cossato':'biella',
    'macomer':'nuoro',
    'isili':'nuoro',
    'chiaromonte': 'lagonegro',
    'orzinuovi' : 'brescia',
    'ovada': 'acquiterme',
    'pavullo nel frignano':'modena',
    'ponte san pietro':'bergamo',
    'romano di lombardia':'bergamo',
    'san benedetto del tronto':'ascoli piceno',
    'teano':'caserta',
    'venezia 2 - mestre' : 'venezia',
    'venosa':'potenza',
    'vimercate':'monza',
    'acerra' : 'casoria',
    'torre annunziata':'napoli',
    'napoli nord in aversa':'napoli',
    'napoli nord':'napoli',
    'san giorgio ionico':'taranto',
    "rometta" :'barcellona pozzo di gotto',
    'taurianova':'palmi',
    'putignano':'gioia del colle',
    'dolo':'venezia',
    'ugento':'casarano',
    'grumello del monte':'bergamo',
    'todi':'perugia',
    'gragnano':'castellammare di stabia',
    'tribunale  di vicenza':'vicenza',
    'marigliano':'nola',
    "reggio nell'emilia": 'reggio emilia',
    'montoro':'avellino',
    'nocera inferiore':'pagani',
    "chieti - sezione distaccata di ortona":'chieti',
    'la maddalena':'olbia',
    'san giovanni in fiore':'cosenza',
    'poggio mirteto':'rieti',
    'volterra':'pontedera',
    'tribunale della spezia':'la spezia',
    'arcidosso':'grosseto',
    'martina franca':'taranto',
    'naso':'messina',  # forse
    'scalea':'paola',
    'cariati':'rossano',
    'montecorvino rovella':'salerno',
    "sant'anastasia":'napoli',
    'forlì':"forli'"
    }

input['Foro'] = (input['Foro']
                    .str.lower()
                    .replace(mapping, regex=True)
                    .str.strip()
                   )
# input
input = input.drop_duplicates()

In [13]:
def find_code_for_foro(df1, df2):
    # Initialize an empty list to store the results
    results = []

    # Iterate over each row in df2
    for index2, row2 in df2.iterrows():
        foro = row2['Foro']
        
        # Find matching rows in df1
        matching_rows = df1[df1['office'].str.contains(foro)]

        # Add matching codes to the results list
        for index1, row1 in matching_rows.iterrows():
            results.append({
                'code_office': row1['code'],
                'office': row1['office'],
                'Foro': row2['Foro']
            })

    # Convert results to a DataFrame
    result_df = pd.DataFrame(results)
    return result_df
result_df = find_code_for_foro(uffici_ut, input)
result_df = result_df.drop_duplicates()

In [14]:

input = pd.merge(input, result_df, on='Foro', how='left')
input = (input
        .drop_duplicates())
input['Tribunale/Gdp'] = (input['Tribunale/Gdp']
                          .str.lower()
                          .str.strip()
)

input = input.drop_duplicates()

In [15]:
input[input['code_office'].isna()]['Foro'].drop_duplicates()

Series([], Name: Foro, dtype: object)

#### sopra abbiamo aggiunto il codice dell'ufficio

#### ora dobbiamo aggiungere i codici degli enti

In [16]:
with open('Resources/enti_completi_ut.json', 'r') as file:
    enti_ut = json.load(file)

enti_decoded = {}

for key, values in enti_ut.items():
    tribunale = [item.split(" - ")[0] for item in values if "TRIB" in item.upper()]
    giudice = [item.split(" - ")[0] for item in values if "GIUD" in item.upper()]
    enti_decoded[key] = {"tribunale": tribunale, "giudice": giudice}
# enti_decoded

In [17]:
def get_codes(row):
    office = row['office']
    type_ = row['Tribunale/Gdp']
    if office in enti_decoded and type_ in enti_decoded[office]:
        return enti_decoded[office][type_]
    else:
        return []

# Apply the function to each row and create a new column 'codes'
input['code_ente'] = input.apply(get_codes, axis=1)

In [18]:
# Convert the 'code_ente' lists to strings
input['code_ente'] = input['code_ente'].apply(lambda x: ','.join(x))


potential_value_vars = [
    'nr.decreto', 'year.decreto', 'nr.rg', 'year.rg',
    'nr.repertorio', 'year.repertorio', 'nr.crono', 'year.crono',
    'nr.rgeppt', 'year.rgeppt', 'nr.repppt', 'year.repppt'
]
value_vars = [col for col in potential_value_vars if col in input.columns]
# Melt the DataFrame to 'pivot longer'
df_long = pd.melt(input, 
                  id_vars=['NR_Contratto', 'Debitore','Tribunale/Gdp','Foro','Cliente','tipo_ricerca','code_office','office','code_ente'], 
                  value_vars=value_vars, 
                  var_name='type', 
                  value_name='value')

# Split the 'type' column into 'attribute' and 'category'
df_long[['attribute', 'category']] = df_long['type'].str.split('.', expand=True)

# Pivot the DataFrame to get the desired format
input = df_long.pivot_table(index=['NR_Contratto', 'Debitore','Tribunale/Gdp','Foro','Cliente','tipo_ricerca','code_office','office','code_ente','category'], 
                               columns='attribute', 
                               values='value', 
                               aggfunc='first').reset_index()

# Flatten the columns
input.columns.name = None
input = input.reset_index(drop=True)

# Convert the 'code_ente' column back into a list
input['code_ente'] = input['code_ente'].apply(lambda x: x.split(',') if isinstance(x, str) else x)

In [19]:
input = input.drop(columns={'category'})
input['code_ente'] = input['code_ente'].apply(tuple)
input = input.drop_duplicates()
input['code_ente'] = input['code_ente'].apply(list)

In [20]:
input.to_excel('Input/Cleaned/2024_06_03_input_v1.xlsx',index=False)

In [21]:
input

,NR_Contratto,Debitore,Tribunale/Gdp,Foro,Cliente,tipo_ricerca,code_office,office,code_ente,nr,year
0,AA1200001768_06112018,SGOBBA IVAN,giudice,brescia,A2A,monitoria,TM4,brescia ut dpbs,"[003, 005, 006, 009]",4693,2020
1,AA1200001768_06112018,SGOBBA IVAN,giudice,brescia,A2A,monitoria,TM4,brescia ut dpbs,"[003, 005, 006, 009]",1236,2020
3,AA1200001768_06112018,SGOBBA IVAN,giudice,brescia,A2A,monitoria,TMJ,brescia 1 ut dpbs,"[003, 005, 006, 009]",4693,2020
4,AA1200001768_06112018,SGOBBA IVAN,giudice,brescia,A2A,monitoria,TMJ,brescia 1 ut dpbs,"[003, 005, 006, 009]",1236,2020
6,AA1200002409_06112018,TAVARES FARIAS CARLOS ERIK,giudice,brescia,A2A,monitoria,TM4,brescia ut dpbs,"[003, 005, 006, 009]",4609,2020
...,...,...,...,...,...,...,...,...,...,...,...
5812,XUB385075,BUCCIONE PIERO,tribunale,chieti,Sirio,monitoria,TAH,chieti ut dpch,[001],1001,2023
5814,XUB385803,STOP CAFFE' SNC DI GENNARELLI GENNARO E GUARAG...,tribunale,civitavecchia,Sirio,monitoria,TJ3,civitavecchia ut dprm2,[001],193,2023
5816,XUB385803,STOP CAFFE' SNC DI GENNARELLI GENNARO E GUARAG...,tribunale,civitavecchia,Sirio,monitoria,TJF,civitavecchia - ante 01.02.2015 ut dprm1,"[001, 004, 005, 006, 007, 011]",193,2023
5818,XUB386298,PESCE MAURO,tribunale,pescara,Sirio,monitoria,TAU,pescara ut dppe,"[001, 005, 006]",4962,2021
5820,XUB388609,MERLINO TETTI S.R.L.,giudice,crema,Sirio,monitoria,TMZ,crema ut dpcr,[002],566,2023

In [22]:
# new_df = input[2000:2500]

new_df = input[100:500]

results =( new_df 
    .apply(lambda row: tipo_scraper(contratto=row['NR_Contratto'],
                                    debitore=row['Debitore'],
                                    tipo= row['tipo_ricerca'],
                                    ufficio= row['code_office'],
                                    lista_enti=row['code_ente'], anno=row['year'],numero= row['nr'],
                                    row_number=row.name
                                    ),
                                    axis=1)
)

Risultati in un df

In [23]:
filtered_data = [item for item in results if item != []]
flattened_results = [item for sublist in filtered_data for item in (sublist if isinstance(sublist, list) else [sublist])]
df = pd.DataFrame(flattened_results)
df = df.drop_duplicates()
df

,contratto,debitore,ufficio,atto,emesso da,repertorio,attore,convenuto,stato,compila
0,AA1700001693_04022021,ABBATE ANTONIO,TNH,DI,004,960 - 2022,-,-,-,no
1,AA1700001693_04022021,ABBATE ANTONIO,TNH,DI,006,960 - 2022,-,-,-,no
2,AA1700001693_04022021,ABBATE ANTONIO,TNH,DI,007,960 - 2022,-,-,-,no
3,AA1700001693_04022021,ABBATE ANTONIO,TNH,AV,004,960 - 2022,-,-,-,no
4,AA1700001693_04022021,ABBATE ANTONIO,TNH,AV,006,960 - 2022,-,-,-,no
...,...,...,...,...,...,...,...,...,...,...
4161,AZCO20190204521,HENI MAROUANE,TNH,DI,006,1327 - 2022,-,-,-,no
4162,AZCO20190204521,HENI MAROUANE,TNH,DI,007,1327 - 2022,-,-,-,no
4163,AZCO20190204521,HENI MAROUANE,TNH,AV,004,1327 - 2022,-,-,-,no
4164,AZCO20190204521,HENI MAROUANE,TNH,AV,006,1327 - 2022,-,-,-,no
4165,AZCO20190204521,HENI MAROUANE,TNH,AV,007,1327 - 2022,-,-,-,no

In [24]:
cliente = input[['NR_Contratto','Cliente']]
df = pd.merge(df,cliente,how='left', left_on='contratto',right_on='NR_Contratto' )
df.drop(columns=['NR_Contratto'], inplace=True)
df = df.drop_duplicates()
df

,contratto,debitore,ufficio,atto,emesso da,repertorio,attore,convenuto,stato,compila,Cliente
0,AA1700001693_04022021,ABBATE ANTONIO,TNH,DI,004,960 - 2022,-,-,-,no,A2A
1,AA1700001693_04022021,ABBATE ANTONIO,TNH,DI,006,960 - 2022,-,-,-,no,A2A
2,AA1700001693_04022021,ABBATE ANTONIO,TNH,DI,007,960 - 2022,-,-,-,no,A2A
3,AA1700001693_04022021,ABBATE ANTONIO,TNH,AV,004,960 - 2022,-,-,-,no,A2A
4,AA1700001693_04022021,ABBATE ANTONIO,TNH,AV,006,960 - 2022,-,-,-,no,A2A
...,...,...,...,...,...,...,...,...,...,...,...
8735,AZCO20190204521,HENI MAROUANE,TNH,DI,006,1327 - 2022,-,-,-,no,Azeta
8736,AZCO20190204521,HENI MAROUANE,TNH,DI,007,1327 - 2022,-,-,-,no,Azeta
8737,AZCO20190204521,HENI MAROUANE,TNH,AV,004,1327 - 2022,-,-,-,no,Azeta
8738,AZCO20190204521,HENI MAROUANE,TNH,AV,006,1327 - 2022,-,-,-,no,Azeta
8739,AZCO20190204521,HENI MAROUANE,TNH,AV,007,1327 - 2022,-,-,-,no,Azeta

Righe con risultati

In [25]:
df[(df['attore'] != '-') | (df['convenuto'] != '-') ]

,contratto,debitore,ufficio,atto,emesso da,repertorio,attore,convenuto,stato,compila,Cliente
30,AA1700001728_04022021,TONDELLI FAUSTO,MANTOVA UT DPMN,DECRETO INGIUNTIVO n. 1320 del 2022,GIUDICE DI PACE-MANTOVA,588 - 2022,ASTREA S.R.L.,HASANI,ATTO IN FASE DI TASSAZIONE,no,A2A
66,AA1700001793_04022021,EL KHALLOUKI SAID,MANTOVA UT DPMN,DECRETO INGIUNTIVO n. 1398 del 2022,GIUDICE DI PACE-MANTOVA,296 - 2022,ARES - S.R.L.,PONTICELLI,ATTO IN FASE DI TASSAZIONE,no,A2A
78,AA1700001866_04022021,GARUTTI CAMILLA,MANTOVA UT DPMN,DECRETO INGIUNTIVO n. 1575 del 2022,GIUDICE DI PACE-MANTOVA,307 - 2022,IFIS NPL INVESTING S.P.A.,FERREIRA BATISTA,ATTO IN FASE DI TASSAZIONE,no,A2A
84,AA1700001921_04022021,NOLDEN ASTRID,MANTOVA UT DPMN,DECRETO INGIUNTIVO n. 1572 del 2022,GIUDICE DI PACE-MANTOVA,646 - 2022,MOLINI ROSIGNOLI S.R.L.,ANTICO FORNO S.R.L.,ATTO IN FASE DI TASSAZIONE,no,A2A
90,AA1700001925_04022021,AGUS GIAN PIETRO,MANTOVA UT DPMN,DECRETO INGIUNTIVO n. 1582 del 2022,GIUDICE DI PACE-MANTOVA,308 - 2022,WELCOME TRAVEL GROUP SOCIETA',MEO,ATTO IN FASE DI TASSAZIONE,no,A2A
...,...,...,...,...,...,...,...,...,...,...,...
8566,AZCO20190204256,MARRARO GAETANO,RAVENNA UT DPRA,DECRETO INGIUNTIVO n. 256 del 2021,TRIBUNALE DI RAVENNA,813 - 2021,NPL MANAGEMENT SPA,MECA GESTIAN,ATTO REGISTRATO,no,Azeta
8580,AZCO20190204256,MARRARO GAETANO,ENNA UT DPEN,ATTO VARIO n. 256 del 2021,TRIBUNALE DI ENNA,256 - 2021,SAITTA,SCIMONE,ATTO REGISTRATO,no,Azeta
8600,AZCO20190204305,DI PRIMA MADDALENA,ENNA UT DPEN,ATTO VARIO n. 787 del 2021,TRIBUNALE DI ENNA,1008 - 2021,CARUSO,LEONARDI,"ATTO REGISTRATO A DEBITO, ATTENZIONE: non effe...",no,Azeta
8650,AZCO20190204364,GERALI NARCISO,MASSA-CARRARA UT DPMS,ESECUZIONE MOBILIARE n. 760 del 2023,TRIBUNALE,6/2024 - 2024,POS SRL,GERALI NARCISO,ATTO REGISTRATO,no,Azeta
8720,AZCO20190204419,OTHOZE MARIAN,IVREA UT DPTO2,DECRETO INGIUNTIVO n. 972 del 2022,TRIBUNALE DI IVREA,1365/22 - 2022,DE FILIPPO,DI MAIO,ATTO REGISTRATO,no,Azeta

Guardare i nomi in format 'name +1'

In [26]:
df[(df['attore'].str.contains('\+')) | (df['convenuto'].str.contains('\+')) ]

,contratto,debitore,ufficio,atto,emesso da,repertorio,attore,convenuto,stato,compila,Cliente
3397,AKCO400874222.001,TRONCI PAOLO ROCCO,CASARANO UT DPLE,DECRETO INGIUNTIVO n. 178 del 2017,UFFICIO GIUDICE PACE UGENTO,96/18 - 2017,"CONDOMINIO ""VICTOR VILLAGE""",DI FONSO + 1,EMESSO ARTICOLO DI RUOLO,no,AK NORDIC
7212,AKS057594567,GIAMBERDUCA ARMANDO,PALERMO 2 UT DPPA,DECRETO INGIUNTIVO n. 4159 del 2017,TRIBUNALE DI PALERMO,7380 - 2017,"CONDOMINIO ""VIA SARDEGNA 23""",CIULLA + 2,ATTO REGISTRATO,no,AK NORDIC

Toglie il +1 a chi lo ha

In [27]:
mask_attore = df['attore'].str.contains('\+')
mask_convenuto = df['convenuto'].str.contains('\+')

df.loc[mask_attore, 'attore'] = df.loc[mask_attore, 'attore'].str.split('\+').str[0].str.strip()
df.loc[mask_convenuto, 'convenuto'] = df.loc[mask_convenuto, 'convenuto'].str.split('\+').str[0].str.strip()

In [28]:
# df = pd.DataFrame(results.explode().tolist())
df.to_excel(f'Output/{str(today)}_output_totale_500_v1.xlsx',index=False)

In [29]:
mask = df.apply(lambda row: (row['attore'] in row['Cliente']) or (row['convenuto'] in row['debitore']), axis=1)

df[mask].to_excel(f'Output/{str(today)}_esiti_positivi_500_v1.xlsx',index=False)